<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="main">
        <div>
          <h3 style="font-weight: bold;">FAQs</h3><br/>
          <p>1. How do I place an order?</p>
          <p>2. There’s a missing item in my order, what should I do?</p>
          <p>3. How do I check my order status? </p>
          <p>4. My order was unsuccessful, what should I do?  </p>
        </div>

        <hr/>
        <h3 class="star-heading" style="width: 50%;">Write to us</h3><br/>
        <%= form_tag send_mail_path, class: "contact_form" do %>
          <div class="form-group">
            <%= label_tag 'name', 'Name' %>
            <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name' %>
          </div>
          <div class="form-group">
            <%= label_tag 'email', 'Email' %>
            <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email Address' %>
          </div>
          <div class="form-group">
            <%= label_tag 'description', 'Comments' %>
            <%= text_area_tag 'description', nil, class: 'form-control', rows: 4, placeholder: 'Comments...' %>
          </div>
          <%= submit_tag "Send", class: 'btn btn-primary btn-about pull-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  form.contact_form {
    width: 50%;
  }

  .col-lg-12.breadcrumb-main {
    display: none;
  }
</style>