<div class="container">
	<div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3 class="star-heading">
				Your Orders
			</h3>
	    </div>
    </div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<% if @user_orders.blank? %>
				<p class="no-slug">You have no orders.</p>
			<% else %>
				<div class="table-responsive">
		            <table class="table table-striped">
		                <thead>
		                    <tr>
		                        <th>Order No</th>
		                        <th>Item Name</th>
		                        <th>Item Specification</th>
		                        <th>Item Price</th>
		                        <th>Qty</th>
		                        <th>Item Delivery Date</th>
		                        <th>Status</th>
		                    </tr>
		                </thead>

		                <tbody>
	                        <% @user_orders.each do |s| %>
	                            <tr id="element">
	                                <td><%= s.id %></td>
	                                <td><%= s.item.name %></td>
	                                <td><%= s.item.specification %></td>
	                                <td>INR <%= s.item.price %></td>
	                                <td><%= s.item_qty %></td>
	                                <td><%= s.delivery_date %></td>
	                                <% if s.is_delivered == true %>
	                                	<td>
			                                <P class="panding-status">Delivered</P>
			                                <%= link_to "View", order_path(s.id), class: "view-order" %>
		                                </td>
		                            <% else %>
		                                <td>
		                                	<P class="panding-status">Pending</P>
		                                </td>
	                                <% end %>
	                            </tr>
		                    <% end %>
		                </tbody>
		            </table>
		        </div>
			<% end %>
		</div>
	</div>
</div>
