<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Shop" %></title>
    <%= csrf_meta_tags %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

  </head>
  <body>
  <!-- container section start -->
  <section id="container" class="">
    <header class="header dark-bg">
      <div class="row">
        <div class="toggle-nav">
          <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><!-- <i class="icon_menu"></i> --></div>
        </div>

        <div class="col-md-1 col-lg-1">
          <div class="logoo">
            <%= link_to "/", class: "logo" do %>
              <span class="lite">Howzie</span>
            <% end %>
          </div>
        </div>

        
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 my_orders">
          <% if (params['controller'] == "orders" || params['controller'] == "dashboards")  and params['action'] == 'index' %>
            <div class="nav-head">
              <span class="nav-title"> Your Orders</span>

              <span class=" pull-right">
              <% if current_user.user_type == true %>
                <span class="breadcrumb-name">Merchant id: <span class="customer-id"><%= current_user.id %></span></span>
              <% else %>
                <span class="breadcrumb-name">Customer id: <span class="customer-id"><%= current_user.id %></span></span>
              <% end %>

              <% if current_user.user_type == true %>
                <%= link_to "Your Orders", my_orders_orders_path, class: 'btn btn-primary new-order' %>
                <%= link_to "Upload Inventory", upload_inventory_dashboards_path, class: 'btn btn-primary new-order merchant-action' %>
              <% else %>
                <%= link_to 'New Order', orders_path, class: 'btn btn-primary new-order' %>
              <% end %>
              </span>
            </div>
          <% end %>
        </div>
        
        
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 nav-notify">
          <div class="top-nav notification-row">
            
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">
              <!-- alert notification start-->
              <li id="alert_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <i class="icon-bell-l"></i>
                  <span class="badge bg-important">7</span>
                </a>
                <ul class="dropdown-menu extended notification">
                  <div class="notify-arrow notify-arrow-blue"></div>
                  <li>
                    <p class="blue">You have 2 new notifications</p>
                  </li>
                  <li>
                    <a href="#">
                      <span class="label label-primary"><!-- <i class="icon_profile"> --></i></span>
                      New orders.
                      <span class="small italic pull-right">5 mins</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="label label-warning"><!-- <i class="icon_pin"> --></i></span>
                      Confirmation of orders.
                      <span class="small italic pull-right">50 mins</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">See all notifications</a>
                  </li>
                </ul>
              </li>
              <!-- alert notification end-->
              <!-- user login dropdown start-->
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="username"><%= current_user.name %></span>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li class="eborder-top">
                      <%= link_to edit_user_registration_path do %>
                        <i class="icon_profile"></i> My Profile
                      <% end %>
                    </li>
                    <li>
                      <%= link_to destroy_user_session_path, :method => :delete do %>
                        <i class="icon_key_alt"></i> Log Out
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% end %>
              <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
          </div>
        </div>
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="about-main">
            <%= link_to about_us_pages_path, class: "about_us main-layout-about-us" do %>
              About
            <% end %>
          </li>
          <li class="faq-main">
            <%= link_to faqs_pages_path, class: "faqs main-layout-faq" do %>
              Faq
            <% end %>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!--overview start-->
        <% if user_signed_in? %>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 breadcrumb-main">
                <ol class="breadcrumbb" style="height: 50px;">
                  <!-- <li>
                    <%# if current_user.user_type == true %>
                      <p class="breadcrumb-name">Merchant id: <span class="customer-id"><%#= current_user.id %></span></p>
                    <%# else %>
                      <p class="breadcrumb-name">Customer id: <span class="customer-id"><%#= current_user.id %></span></p>
                    <%# end %>
                  </li> -->
                  <%# if current_user.user_type == true %>
                    <%#= link_to "Your Orders", my_orders_orders_path, class: 'btn btn-primary new-order pull-right' %>
                    <%#= link_to "Upload Inventory", upload_inventory_dashboards_path, class: 'btn btn-primary new-order pull-right merchant-action' %>
                  <%# else %>
                    <%#= link_to 'New Order', orders_path, class: 'btn btn-primary new-order pull-right' %>
                  <%# end %>
                </ol>
              </div>
            </div>
          </div>
          <% end %>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <%= bootstrap_flash %>
              </div>
            </div>
          </div>
          <%= yield %>
      </section>
    </section>
  </section>

  <!-- javascripts -->
  <!-- <script src="assets/js/jquery.js"></script>
  <script src="assets/js/jquery-ui-1.10.4.min.js"></script>
  <script src="assets/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
  <!-- bootstrap -->
  <!-- <script src="/assets/bootstrap.min.js"></script> -->
  
  <!--custome script for all page-->
  <script src="/assets/scripts.js"></script>
  <script src="/assets/jquery.nicescroll.js"></script>
  </body>
</html>
