<!DOCTYPE html>
<html lang="en" style="overflow: visible;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Shop" %></title>
    <%= csrf_meta_tags %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

  </head>
  <body>
  <!-- container section start -->
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></i></div>
      </div>

      <!--logo start-->
      <%= link_to "/", class: "logo" do %>
        <span class="lite">Howzie</span>
      <% end %>
      <!--logo end-->
      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
          <!-- user login dropdown start-->
          <% if user_signed_in? %>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="username"><%= current_user.name %></span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li class="eborder-top">
                  <%= link_to edit_user_registration_path do %>
                    <i class="icon_profile"></i> My Profile
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                    <i class="icon_key_alt"></i> Log Out
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
      <div id="authsidebar" class="nav-collapse auth-sidebar">
        <div class="logo-slug">
          <p class="howzie-logo">Howzie</p>
          <p class="howzie-slug">Makes ordering easy</p>
        </div>
        <!-- sidebar menu start-->
        <div class="qwery">
        <ul class="sidebar-menu">
          <li class="about-main">
            <%= link_to about_us_pages_path, class: "about_us" do %>
              About
            <% end %>
          </li>
          <li class="faq-main">
            <%= link_to faqs_pages_path, class: "faqs" do %>
              Faq
            <% end %>
          </li>
        </ul>
        </div>
        <!-- sidebar menu end-->
      </div>

      <div class="wrapper auth-sidebar">
          <%= bootstrap_flash %>
          <%= yield %>
      </div>
  
  <!--custome script for all page-->
  <script src="/assets/scripts.js"></script>
  </body>
</html>

